{% extends "base.html" %}

{% block title %}Tags | {{ config.title }}{% endblock %}

{% block content %}
    <section class="tag-list">
        <h1 class="tag-list__title">All Tags</h1>
        
        <ul class="tag-list__items">
            {% for term in terms %}
                <li>
                    <a href="{{ term.permalink }}" class="tag">
                        {{ term.name }}<span class="tag-list__count">({{ term.pages | length }})</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
