{% extends "base.html" %}

{% block title %}{{ section.title }} | {{ config.title }}{% endblock %}

{% block content %}
    <section class="post-list">
        <h1>{{ section.title }}</h1>
        
        <ul class="post-list__items">
            {% for page in section.pages %}
                <li class="post-list__item">
                    <div>
                        <a href="{{ page.permalink }}" class="post-list__link">{{ page.title }}</a>
                        {% if page.taxonomies.tags %}
                        <div class="post-list__tags" style="margin-top: 0.25rem;">
                            {% for tag in page.taxonomies.tags %}
                            <a href="{{ get_taxonomy_url(kind='tags', name=tag) }}" class="tag">{{ tag }}</a>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <time class="post-list__date">{{ page.date | date(format="%b %d, %Y") }}</time>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}